[package]

name = "mysql"
version = "16.0.2"
authors = ["blackbeam"]
description = "Mysql client library implemented in rust"
license = "MIT"
documentation = "https://docs.rs/mysql"
repository = "https://github.com/blackbeam/rust-mysql-simple"
keywords = ["database", "sql"]
exclude = ["tests/*", ".*", "Makefile"]
categories = ["database"]
edition = "2018"
build = "build.rs"

[lib]

name = "mysql"
path = "src/lib.rs"

[profile.dev]

opt-level = 0
debug = true

[profile.release]

opt-level = 3
debug = false
lto = true

[profile.test]

opt-level = 0
debug = true

[profile.bench]

opt-level = 3
debug = false
lto = true

[features]
default = ['mysql_common', 'flate2/default']
nightly = ['mysql_common', 'flate2/default']
flate2-zlib = ['mysql_common', 'flate2/zlib']
flate2-rust_backend = ['mysql_common', 'flate2/rust_backend']
ssl = ['mysql_common', "openssl", "security-framework"]


[dev-dependencies]
serde_derive = "1"

[dependencies]
flate2 = { version = "1.0", optional = true, default-features = false }
bit-vec = "0.5"
byteorder = "1"
url = "1"
bufstream = "~0.1"
fnv = "1"
twox-hash = "1"
net2 = "~0.2"
serde = "1"
serde_json = "1"
mysql_common = { version = "0.17", optional = true }

[dependencies.rustc-serialize]
version = "0.3"
optional = true

[dependencies.regex]
version = "1"
default-features = false

[target.'cfg(not(any(target_os = "windows", target_os = "macos")))'.dependencies.openssl]
version = "~0.10"
optional = true

[target.'cfg(target_os = "macos")'.dependencies.security-framework]
version = "~0.3"
optional = true
features = ["OSX_10_9"]

[target.'cfg(target_os = "windows")'.dependencies]
named_pipe = "~0.4"
winapi = "~0.3"

[target.'cfg(unix)'.dependencies]
libc = "0.2"
nix = "0.13"
