[package]

name = "mysql"
version = "12.1.0"
authors = ["blackbeam"]
description = "Mysql client library implemented in rust"
license = "MIT"
documentation = "https://docs.rs/mysql"
repository = "https://github.com/blackbeam/rust-mysql-simple"
keywords = ["database", "sql"]
exclude = ["tests/*", ".*", "Makefile"]
categories = ["database"]

[lib]

name = "mysql"
path = "src/lib.rs"

[profile.dev]

opt-level = 0
debug = true

[profile.release]

opt-level = 3
debug = false
lto = true

[profile.test]

opt-level = 0
debug = true

[profile.bench]

opt-level = 3
debug = false
lto = true

[profile.doc]

opt-level = 0
debug = true

[features]
default = ['mysql_common']
nightly = ['mysql_common']
rustc_serialize = ['mysql_common/rustc_serialize', 'rustc-serialize']
ssl = ['mysql_common', "openssl", "security-framework"]

[dev-dependencies]
serde_derive = "1"

[dependencies]
bit-vec = "0.4"
byteorder = "1"
url = "1"
bufstream = "~0.1"
fnv = "1"
twox-hash = "1"
net2 = "~0.2"
smallvec = "0.4"
serde = "1"
serde_json = "1"
mysql_common = { version = "0.5", optional = true }

[dependencies.rustc-serialize]
version = "0.3"
optional = true

[dependencies.regex]
version = "~0.2"
default-features = false

[target.'cfg(not(any(target_os = "windows", target_os = "macos")))'.dependencies.openssl]
version = "~0.9"
optional = true

[target.'cfg(target_os = "macos")'.dependencies.security-framework]
version = "~0.1"
optional = true
features = ["OSX_10_8"]

[target.'cfg(target_os = "windows")'.dependencies]
named_pipe = "~0.2"
winapi = "~0.2"
ws2_32-sys = "~0.2"

[target.'cfg(unix)'.dependencies]
libc = "0.2"
nix = "0.9"
